@import "tailwindcss";
.banner-img{
    width: 100%;
    height: auto;
    
    background-image: url("");
}


/* .title-box{
    position: absolute;
    top: 2500px;
    
}
.deal-image-box{
    position: relative;

} */